extends layout

block content
  .ui.large.top.fixed.hidden.menu.inverted
    .sidebar
    .ui.container.nav(style="height: 65px")
      a.item(href="/")
        img.ui.tiny.image(src='/images/melody-logo.png')
      a.item(href="/movies") Movies
      a.item(href="/series") Series
      a.item(href="/music") Music
      a.item Plays
      a.item Classics
      a.item Collections
      a.item(href="/live") Live TV
      .ui.category.search.item.nav-search
        .ui.transparent.icon.input
          input.prompt(type='text', placeholder='Search...')
          i.search.link.icon
        .results



      .right.menu
        .ui.left.dropdown.item(id="account-dropdown")
          i.setting.icon
          .menu
            a.item
              i.user.icon
              span.text My Account
            a.item
              i.list.layout.icon
              span.text Watchlist
            a.item
              i.flag.icon
              span.text Arabic

  .ui.right.vertical.sidebar.menu(id="nav-sidebar")
    a.item(href="/") Home
    a.item(href="/movies") Movies
    a.item(href="/series") Series
    a.item(href="/music") Music
    a.item Plays
    a.item Classics
    a.item Collections
    a.item(href="/live") Live TV
    .ui.category.search.item
      .ui.transparent.icon.input
        input.prompt(type='text', placeholder='Search...')
        i.search.link.icon
      .results
    a.item.horizontal.divider
    a.item
      h6
        | My Account
    a.item
      h6
        | Watchlist
    a.sidebar.item
      h6
        | Arabic

  .ui.inverted.vertical.masthead.center.aligned
    .ui.container.nav-header.pad-bottom-tiny
      .ui.large.secondary.inverted.pointing.menu
        a.toc.item.right.aligned
          i.sidebar.icon

  .ui.vertical.center.container.aligned.grids.pad-top-medium
    .ui.two.column.grid.container
        .details.sixteen.wide.tablet.eight.wide.computer.column.centered
          object#flashObj(width='754', height='407', classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0')
              param(name='movie', value='http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1')
              param(name='bgcolor', value='#FFFFFF')
              param(name='flashVars', value='videoId=4564740753001&playerID=3815086849001&playerKey=AQ~~,AAADd9u4__E~,fHl6JWluMnctnUR7lsNevXxKfibpHuew&domain=embed&dynamicStreaming=true')
              param(name='base', value='http://admin.brightcove.com')
              param(name='seamlesstabbing', value='false')
              param(name='allowFullScreen', value='true')
              param(name='swLiveConnect', value='true')
              param(name='allowScriptAccess', value='always')
              embed(src='http://c.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1', bgcolor='#FFFFFF', flashvars='videoId=4564740753001&playerID=3815086849001&playerKey=AQ~~,AAADd9u4__E~,fHl6JWluMnctnUR7lsNevXxKfibpHuew&domain=embed&dynamicStreaming=true', base='http://admin.brightcove.com', name='flashObj', width='98%', height='407', seamlesstabbing='false', type='application/x-shockwave-flash', allowfullscreen='true', allowscriptaccess='always', swliveconnect='true', pluginspage='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash')

        .details.sixteen.wide.tablet.eight.wide.computer.column.centered
            img.ui.image(src="/images/banner01.png")
            h2 This is the movie title
            h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .ui.one.column.grid.center
              .row
                .column.tight
                  .movie-details
                    span R
                    span 123 min
                    span Released 2015
                    span 5.1
                    span HD
                  .movie-actions
                    img.ui.image(src="/images/play-button.png")
                    img.ui.image(src="/images/add-button.png")
                    img.ui.image.social-share(src="/images/social-share-circle-icons.png")

    .ui.grid.container.details
      .details.sixteen.wide.tablet.sixteen.wide.computer.column.centered
          .ui.three.column.grid.container.stackable
            .cast.three.wide.computer.five.wide.tablet.column.tight
              .ui.top.attached.label.detailHeading
                | Producers
              .ui.grid
                .row
                  .pad-top-medium.column.tight
                    ul.meta.tight
                      li Alex
                      li Noma
                      li Alex
                      li Noma
                  .pad-top-medium.column.tight
                    ul.meta.values
                      li Shiradashi Smith
                      li Jane Doe
                      li John Smit
                      li Someone

            .cast.three.wide.computer.five.wide.tablet.column.tight
              .ui.top.attached.label.detailHeading
                | Directors
              .ui.grid
                .row
                  .pad-top-medium.column.tight
                    ul.meta.tight
                      li Alex
                      li Noma
                      li Alex
                      li Noma
                      .column
                  .pad-top-medium.column.tight
                    ul.meta.values
                      li Shiradashi Smith
                      li Jane Doe
                      li John Smit
                      li Someone

            .cast.three.wide.computer.five.wide.tablet.column.tight
              .ui.top.attached.label.detailHeading
                | Cast & Crew
              .ui.grid
                .row
                  .pad-top-medium.column.tight
                    ul.meta.tight
                      li Alex
                      li Noma
                      li Alex
                      li Noma
                  .pad-top-medium.column.tight
                    ul.meta.values
                      li Shiradashi Smith
                      li Jane Doe
                      li John Smit
                      li Someone


    .ui.vertical.center.container.aligned.grids
      .ui.one.column.grid.container
        .column.header
          h4.ui.header.grid-title
            br
            | Similar Titles >

      .ui.equal.width.grid.container.bottom-padding
        .row
          .image.preview
            .ui.bottom.attached.label
              | Khally Balak Men Geranak
          .image.preview
            .ui.bottom.attached.label
              | Harim Karim
          .image.preview
            .ui.bottom.attached.label
              | Zaki Chan
          .image.preview
            .ui.bottom.attached.label
              | Keda Reda
          .image.preview
            .ui.bottom.attached.label
              | Wahed Sefr
        .row
          .image.preview
            .ui.bottom.attached.label
              | Lorem ipsum dolor
          .image.preview
            .ui.bottom.attached.label
              | Lorem ipsum dolor

  .ui.inverted.vertical.footer.stackable.center.aligned.segment
    .ui.middle.aligned.six.column.centered.stackable.grid.footer.container
      .row
        .column.middle.aligned
          a.link
            h4
              | FAQ/Help
        .column.middle.aligned
          a.link
            h4
              | Jobs
        .column.middle.aligned
          a.link
            h4
              | Terms of Use
        .column.middle.aligned
          a.link
            h4
              | Privacy Policy
        .column.middle.aligned
          a.link
            h4
              | Copyright
        .column.middle.aligned
          a.link
            h4
              | Closed Captioning
    .ui.middle.aligned.one.column.centered.stackable.grid.container
      .ui.image.social-share
        img(src="/images/social-share.png")
    .ui.middle.aligned.one.column.centered.stackable.grid.container
          h6.tagline
            | © Melody Entertainment Group. All Rights Reserved. Lorem ipsum dolor sit amet, consectetur adipisicing elit
