extends layout

block content
  // Following Menu
  .sidebar
  .ui.large.top.fixed.hidden.menu.inverted
    .ui.container.nav
      .item
        img.ui.tiny.image(src='/images/melody-logo.png')
      a.item Movies
      a.item Series
      a.item Music
      a.item Plays
      a.item Classics
      a.item Collections
      .ui.category.search.item
        .ui.transparent.icon.input
          input.prompt(type='text', placeholder='Search...')
          i.search.link.icon
        .results



      .right.menu
        .item
          h6
            a
              | MY ACCOUNT
        .item
          h6
            a
              | WATCHLIST
              span.count 6
        .item
          h6
            a
              | LIVE TV
        .item
          h6
            a
              | ENGLISH
  // Sidebar Menu
  .ui.right.vertical.sidebar.menu
    a.item Movies
    a.item Series
    a.item Music
    a.item Plays
    a.item Classics
    a.item Collections
    .ui.category.search.item
      .ui.transparent.icon.input
        input.prompt(type='text', placeholder='Search...')
        i.search.link.icon
      .results
    a.item.horizontal.divider
    a.item
      h6
        | My Account
    a.item
      h6
        | Watchlist
    a.item
      h6
        | Live TV
    a.sidebar.item
      h6
        | English


  // Page Contents

  .ui.inverted.vertical.masthead.center.aligned
    .ui.container.nav-header
      .ui.large.secondary.inverted.pointing.menu
        a.toc.item.right.aligned
          i.sidebar.icon

    .ui.container.hero
      .image
        img.ui.image(src='/images/hero-image-default.png')

  .ui.vertical.center.container.aligned.grids

    .ui.one.column.grid.container
      .column.header
        h4.ui.header.grid-title
          br
          | Movies >

    .ui.equal.width.grid.container
      .row
        .image.preview
        .image.preview
        .image.preview
        .image.preview
        .image.preview

    .ui.one.column.grid.container
      .column
        h4.ui.header.grid-title
          br
          | Series >

    .ui.equal.width.grid.container
      .row
        .image.preview
        .image.preview
        .image.preview
        .image.preview
        .image.preview

    .ui.one.column.grid.container
      .column
        h4.ui.header.grid-title
          br
          | Plays >

    .ui.equal.width.grid.container
      .row
        .image.preview
        .image.preview
        .image.preview
        .image.preview
        .image.preview

    .ui.one.column.grid.container
      .column
        h4.ui.header.grid-title
          br
          | Classics >

    .ui.equal.width.grid.container
      .row
        .image.preview
        .image.preview
        .image.preview
        .image.preview
        .image.preview

    .ui.one.column.grid.container
      .column
        h4.ui.header.grid-title
          br
          | Collections >

    .ui.equal.width.grid.container.last
      .row
        .image.preview
        .image.preview
        .image.preview
        .image.preview
        .image.preview

  .ui.inverted.vertical.footer.stackable.center.aligned.segment
    .ui.middle.aligned.six.column.centered.stackable.grid.footer.container
      .row
        .column.middle.aligned
          a.link
            h4
              | FAQ/Help
        .column.middle.aligned
          a.link
            h4
              | Jobs
        .column.middle.aligned
          a.link
            h4
              | Terms of Use
        .column.middle.aligned
          a.link
            h4
              | Privacy Policy
        .column.middle.aligned
          a.link
            h4
              | Copyright
        .column.middle.aligned
          a.link
            h4
              | Closed Captioning
    .ui.middle.aligned.one.column.centered.stackable.grid.container
      .ui.image.social-share
        img(src="/images/social-share.png")
    .ui.middle.aligned.one.column.centered.stackable.grid.container
          h6.tagline
            | © Melody Entertainment Group. All Rights Reserved. Lorem ipsum dolor sit amet, consectetur adipisicing elit
