doctype html
html
  head
    title Melody Entertainment
    link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
    link(rel='stylesheet', href='/css/style.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="semantic/dist/semantic.min.js")
    script(src="script.js")
    meta(name='viewport', content='width=device-width')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
  body
    block content
