extends layout

block content
  .ui.large.top.fixed.hidden.menu.inverted
    .sidebar
    .ui.container.nav
      a.item(href="/")
        img.ui.tiny.image(src='/images/melody-logo.png')
      a.item(href="/movies") Movies
      a.item(href="/series") Series
      a.item(href="/music") Music
      a.item Plays
      a.item Classics
      a.item Collections
      a.item Live TV
      .ui.category.search.item.nav-search
        .ui.transparent.icon.input
          input.prompt(type='text', placeholder='Search...')
          i.search.link.icon
        .results



      .right.menu
        .ui.left.dropdown.item(id="account-dropdown")
          i.setting.icon
          .menu
            a.item
              i.user.icon
              span.text My Account
            a.item
              i.list.layout.icon
              span.text Watchlist
            a.item
              i.flag.icon
              span.text Arabic

  .ui.right.vertical.sidebar.menu(id="nav-sidebar")
    a.item(href="/") Home
    a.item(href="/movies") Movies
    a.item(href="/series") Series
    a.item(href="/music") Music
    a.item Plays
    a.item Classics
    a.item Collections
    a.item Live TV
    .ui.category.search.item
      .ui.transparent.icon.input
        input.prompt(type='text', placeholder='Search...')
        i.search.link.icon
      .results
    a.item.horizontal.divider
    a.item
      h6
        | My Account
    a.item
      h6
        | Watchlist
    a.sidebar.item
      h6
        | Arabic

  .ui.inverted.vertical.masthead.center.aligned
    .ui.container.nav-header
      .ui.large.secondary.inverted.pointing.menu
        a.toc.item.right.aligned
          i.sidebar.icon

    .ui.container.hero
      #myDiv


    .ui.container.equal.width.channels.grid.pad-large
      .column
        img.ui.tiny.image.centered(src='/images/melody-logo.png')
        .ui.bottom.attached.label Melody Aflam
      .column
        img.ui.tiny.image.centered(src='/images/melody-logo.png')
        .ui.bottom.attached.label Melody Classic
      .column
        img.ui.tiny.image.centered(src='/images/melody-logo.png')
        .ui.bottom.attached.label Melody Drama
      .column
        img.ui.tiny.image.centered(src='/images/melody-logo.png')
        .ui.bottom.attached.label Melody Hits
      .column
        img.ui.tiny.image.centered(src='/images/melody-logo.png')
        .ui.bottom.attached.label Melody General
      .column
        img.ui.tiny.image.centered(src='/images/melody-logo.png')
        .ui.bottom.attached.label Melody Radio


    .ui.vertical.center.container.aligned.grids
      .ui.schedule.grid.container.details.pad-top-medium
        .two.wide.filter.schedule-filter.computer.only.column
          h4 TUE, MAY 23
          .ui.simple.dropdown.item.inverted(id="schedule-filter-dropdown")
              | 5pm
              i.plus.icon
              .menu
                a.item 5:30
                a.item 6pm
                a.item 6:30
                a.item 7pm
                a.item 7:30
          .ui.icon.input.inverted
            input.prompt(type='text', placeholder='Search...')
            i.search.link.icon
          .results

        .fourteen.wide.computer.sixteen.wide.tablet.column
          table.ui.schedule.celled.fixed.table
            thead
              tr
                th
                  span.left-arrow <
                th 5
                  sub
                    | pm
                th 5
                  sub.medium
                    | :30
                th 6
                  sub
                    | pm
                th 6
                  sub.medium
                    | :30
                th 7
                  sub
                    | pm
                th 7
                  sub.medium
                    | :30
                th 8
                  sub
                    | pm
                th
                  span.right-arrow >

          table.ui.schedule.fixed.table
            tbody

              tr
                td Logo
                td Hekayty Maa Elzaman
                td
                td
                td Khaly Balak Men Zozo
                td
                td
                td
                td

              tr
                td Logo
                td Darb Ellabana
                td Elketkat
                td Gabarout Emraa
                td Entakhibo Dr Soliman
                td Entakhibo Dr Soliman
                td
                td Gabarout Emraa
                td

              tr.selectedChannel
                td Logo
                td#selectedChannelBlock
                  h3 Zarf Sehy
                  hr
                  img.ui.small.image.thumb(src="/images/melody/M22109.jpg")
                  .blockDetails
                    .title
                      | Zarf Sehy
                    span.episodes
                      | S2 | Ep7
                    span.time
                      | 8:45pm - 10:45pm
                    span.description
                      | The film revolves around the figure of Omar ( Abdulaziz Karim ) . Tragedy begins life since he was a small child where he witnessed the exchange of fire between his father ( Mahmoud soldier ) and police forces , and despite the fact that his father left his home.

              tr
                td Logo
                td Zarf Sehy
                td
                td
                td Wbelwaldyen Ehsanan
                td
                td
                td
                td

              tr
                td Logo
                td Youm Maloush Lazma
                td Giran Elsaad
                td Wahda Be Wahda
                td Man Oheb
                td Akher Alregal Almohtrameen
                td
                td El Kelma Al Akhira
                td

              tr
                td Logo
                td Salama
                td
                td
                td Giran Elsaad
                td
                td
                td
                td

              tr
                td Logo
                td Hekayty Maa Elzaman
                td Bahawat Akher Zaman
                td Aby Fouq Elshagara
                td Eltahady
                td Hob Fe Elzenzana
                td
                td Ragol Bemaana Elkalema
                td

        .sixteen.wide.tablet.column.schedule-mobile
          .ui.top.attached.schedule.tabular.menu
            a.item.active(data-tab='first')
              img.ui.tiny.image.centered(src='/images/wireframe/image.png')
            a.item(data-tab='second')
              img.ui.tiny.image.centered(src='/images/wireframe/image.png')
            a.item(data-tab='third')
              img.ui.tiny.image.centered(src='/images/wireframe/image.png')
            a.item(data-tab='fourth')
              img.ui.tiny.image.centered(src='/images/wireframe/image.png')
            a.item(data-tab='fifth')
              img.ui.tiny.image.centered(src='/images/wireframe/image.png')
            a.item(data-tab='sixth')
              img.ui.tiny.image.centered(src='/images/wireframe/image.png')
          .ui.bottom.attached.schedule.tab.segment.active(data-tab='first')
            .ui.inverted.segment
              .ui.inverted.relaxed.schedule.divided.list
                .item
                  .header 5pm
                  | Khally Balak
                .item
                  .header 5:30
                  | Harim Karim
                .item
                  .header 6pm
                  | Zaki Chan
                .item
                  .header 6:30
                  | Keda Reda
                .item
                  .header 7pm
                  | Wahed Sefr
                .item
                  .header 7:30
                  | Habib Saldo
                .item
                  .header 8pm
                  | Breem Harashi

          .ui.bottom.attached.tab.segment(data-tab='second')
            .ui.inverted.segment
              .ui.inverted.relaxed.schedule.divided.list
                .item
                  .header 5pm
                  | Another Balak
                .item
                  .header 5:30
                  | Harim Name
                .item
                  .header 6pm
                  | Zaki Chan
                .item
                  .header 6:30
                  | Keda Reda
                .item
                  .header 7pm
                  | Wahed Sefr
                .item
                  .header 7:30
                  | Habib Saldo
                .item
                  .header 8pm
                  | Breem Harashi

          .ui.bottom.attached.tab.segment(data-tab='third')
            .ui.inverted.segment
              .ui.inverted.relaxed.schedule.divided.list
                .item
                  .header 5pm
                  | Third Balak
                .item
                  .header 5:30
                  | Name Karim
                .item
                  .header 6pm
                  | Zaki Chan
                .item
                  .header 6:30
                  | Keda Reda
                .item
                  .header 7pm
                  | Wahed Sefr
                .item
                  .header 7:30
                  | Habib Saldo
                .item
                  .header 8pm
                  | Breem Harashi


          .ui.bottom.attached.tab.segment(data-tab='fourth')
            .ui.inverted.segment
              .ui.inverted.relaxed.schedule.divided.list
                .item
                  .header 5pm
                  | And yet
                .item
                  .header 5:30
                  | another name
                .item
                  .header 6pm
                  | Zaki Chan
                .item
                  .header 6:30
                  | Keda Reda
                .item
                  .header 7pm
                  | Wahed Sefr
                .item
                  .header 7:30
                  | Habib Saldo
                .item
                  .header 8pm
                  | Breem Harashi

          .ui.bottom.attached.tab.segment(data-tab='fifth')
            .ui.inverted.segment
              .ui.inverted.relaxed.schedule.divided.list
                .item
                  .header 5pm
                  | Khally Balak
                .item
                  .header 5:30
                  | Harim Karim
                .item
                  .header 6pm
                  | Zaki Chan
                .item
                  .header 6:30
                  | Keda Reda
                .item
                  .header 7pm
                  | Wahed Sefr
                .item
                  .header 7:30
                  | Habib Saldo
                .item
                  .header 8pm
                  | Breem Harashi

          .ui.bottom.attached.tab.segment(data-tab='sixth')
            .ui.inverted.segment
              .ui.inverted.relaxed.schedule.divided.list
                .item
                  .header 5pm
                  | still Balak
                .item
                  .header 5:30
                  | Harim more
                .item
                  .header 6pm
                  | Zaki Chan
                .item
                  .header 6:30
                  | Keda Reda
                .item
                  .header 7pm
                  | Wahed Sefr
                .item
                  .header 7:30
                  | Habib Saldo
                .item
                  .header 8pm
                  | Breem Harashi

  .ui.inverted.vertical.footer.stackable.center.aligned.segment
    .ui.middle.aligned.six.column.centered.stackable.grid.footer.container
      .row
        .column.middle.aligned
          a.link
            h4
              | FAQ/Help
        .column.middle.aligned
          a.link
            h4
              | Jobs
        .column.middle.aligned
          a.link
            h4
              | Terms of Use
        .column.middle.aligned
          a.link
            h4
              | Privacy Policy
        .column.middle.aligned
          a.link
            h4
              | Copyright
        .column.middle.aligned
          a.link
            h4
              | Closed Captioning
    .ui.middle.aligned.one.column.centered.stackable.grid.container
      .ui.image.social-share
        img(src="/images/social-share.png")
    .ui.middle.aligned.one.column.centered.stackable.grid.container
          h6.tagline
            | © Melody Entertainment Group. All Rights Reserved. Lorem ipsum dolor sit amet, consectetur adipisicing elit
  script(src="https://content.jwplatform.com/libraries/OLIMHNB8.js")
  script(src="/jw-player.js")
