extends layout

block content
  // Following Menu
  .ui.large.top.fixed.hidden.menu.inverted
    .sidebar
    .ui.container.nav
      a.item(href="/")
        img.ui.tiny.image(src='/images/melody-logo.png')
      a.item(href="/movies") Movies
      a.item(href="/series") Series
      a.item(href="/music") Music
      a.item(href="/plays") Plays
      a.item Classics
      a.item Collections
      a.item(href="/live") Live TV
      .ui.category.search.item.nav-search
        .ui.transparent.icon.input
          input.prompt(type='text', placeholder='Search...')
          i.search.link.icon
        .results



      .right.menu
        .ui.left.dropdown.item(id="account-dropdown")
          i.setting.icon
          .menu
            a.item
              i.user.icon
              span.text My Account
            a.item
              i.list.layout.icon
              span.text Watchlist
            a.item
              i.flag.icon
              span.text Arabic

  .ui.right.vertical.sidebar.menu(id="nav-sidebar")
    a.item(href="/") Home
    a.item(href="/movies") Movies
    a.item(href="/series") Series
    a.item(href="/music") Music
    a.item(href="/plays") Plays
    a.item Classics
    a.item Collections
    a.item(href="/live") Live TV
    .ui.category.search.item
      .ui.transparent.icon.input
        input.prompt(type='text', placeholder='Search...')
        i.search.link.icon
      .results
    a.item.horizontal.divider
    a.item
      h6
        | My Account
    a.item
      h6
        | Watchlist
    a.sidebar.item
      h6
        | Arabic

  .ui.inverted.vertical.masthead.center.aligned
    .ui.container.nav-header
      .ui.large.secondary.inverted.pointing.menu
        a.toc.item.right.aligned
          i.sidebar.icon

    .ui.container.grids.pad-bottom-medium

      .row.subnav
        span.title
          | SERIES > A -Z
        .ui.simple.dropdown.item.inverted(id="seasons-dropdown")
            | GENRE 1
            i.plus.icon
            .menu
              a.item GENRE 2
              a.item GENRE 3
              a.item GENRE 4
              a.item GENRE 5
              a.item GENRE 6

        .ui.simple.dropdown.item.inverted(id="seasons-dropdown")
            | SORT BY
            i.plus.icon
            .menu
              a.item FEATURED
              a.item A -Z
              a.item JUST ADDED
              a.item TOP

    .ui.vertical.center.container.aligned.grids#series-grid


  .ui.inverted.vertical.footer.stackable.center.aligned.segment#footer

  script(src="js/bundle.js")
