extends layout

block content
  // Following Menu
  .ui.large.top.fixed.hidden.menu.inverted
    .sidebar
    .ui.container.nav
      a.item(href="/")
        img.ui.tiny.image(src='/images/melody-logo.png')
      a.item(href="/movies") Movies
      a.item(href="/series") Series
      a.item(href="/music") Music
      a.item Plays
      a.item Classics
      a.item Collections
      a.item Live TV
      .ui.category.search.item.nav-search
        .ui.transparent.icon.input
          input.prompt(type='text', placeholder='Search...')
          i.search.link.icon
        .results



      .right.menu
        .ui.left.dropdown.item(id="account-dropdown")
          i.setting.icon
          .menu
            a.item
              i.user.icon
              span.text My Account
            a.item
              i.list.layout.icon
              span.text Watchlist
            a.item
              i.flag.icon
              span.text Arabic

  .ui.right.vertical.sidebar.menu(id="nav-sidebar")
    a.item(href="/movies") Movies
    a.item(href="/series") Series
    a.item(href="/music") Music
    a.item Plays
    a.item Classics
    a.item Collections
    a.item Live TV
    .ui.category.search.item
      .ui.transparent.icon.input
        input.prompt(type='text', placeholder='Search...')
        i.search.link.icon
      .results
    a.item.horizontal.divider
    a.item
      h6
        | My Account
    a.item
      h6
        | Watchlist
    a.sidebar.item
      h6
        | Arabic

  .ui.left.vertical.sidebar.inverted.menu(id="watchlist-sidebar")
    .ui.simple.dropdown.menu.inverted(id="seasons-dropdown-filter")
      | SEASON 1
      i.plus.icon
      .menu
        a.item SEASON 2
        a.item SEASON 3
        a.item SEASON 4
        a.item SEASON 5
        a.item SEASON 6

    a.item
      i.play.tiny.icon.watchlist-button.no-margin
      i.plus.tiny.icon.watchlist-button
      span
        | Ep 12
      .watchlist-pct
        | 75%

    a.item
      i.play.tiny.icon.watchlist-button.no-margin
      i.plus.tiny.icon.watchlist-button
      span
        | Ep 13
      .watchlist-pct
        | 30%

    a.item
      i.play.tiny.icon.watchlist-button.no-margin
      i.plus.tiny.icon.watchlist-button
      span
        | Ep 14
      .watchlist-pct
        | 100%

    a.item
      i.play.tiny.icon.watchlist-button.no-margin
      i.plus.tiny.icon.watchlist-button
      span
        | Ep 15
      .watchlist-pct
        | 0%

    a.item
      i.play.tiny.icon.watchlist-button.no-margin
      i.plus.tiny.icon.watchlist-button
      span
        | Ep 16
      .watchlist-pct

    a.item
      i.play.tiny.icon.watchlist-button.no-margin
      i.plus.tiny.icon.watchlist-button
      span
        | Ep 17
      .watchlist-pct

    a.item
      i.play.tiny.icon.watchlist-button.no-margin
      i.plus.tiny.icon.watchlist-button
      span
        | Ep 18
      .watchlist-pct

    a.item
      i.play.tiny.icon.watchlist-button.no-margin
      i.plus.tiny.icon.watchlist-button
      span
        | Ep 19
      .watchlist-pct

  .ui.inverted.vertical.masthead.center.aligned
    .ui.container.nav-header
      .ui.large.secondary.inverted.pointing.menu
        a.watchlist.item.left.aligned
          i.list.layout.icon
        a.toc.item.right.aligned
          i.sidebar.icon

    .ui.container.grids

      .row.subnav
        span.title
          | Series > khatem seliman > season 1
        .ui.simple.dropdown.item.inverted(id="seasons-dropdown")
            | SEASON 1
            i.plus.icon
            .menu
              a.item SEASON 2
              a.item SEASON 3
              a.item SEASON 4
              a.item SEASON 5
              a.item SEASON 6

    .ui.vertical.center.container.aligned.grids
      .ui.two.column.grid.container.details.pad-top-medium
          .details.six.wide.computer.only.column.centered
            .ui.stackable.grid
              .row.watchlist
                .sixteen.wide.tablet.four.wide.computer.column.tight-right
                  i.play.large.icon.watchlist-button.tight
                  i.plus.icon.watchlist-button
                  span.watchlist-button
                    | Ep 12
                .sixteen.wide.tablet.eleven.wide.computer.column.tight-left
                  .ui.progress.watchlist.small.error.ep12
                    .bar

              .row.watchlist
                .sixteen.wide.tablet.four.wide.computer.column.tight-right
                  i.play.large.icon.watchlist-button
                  i.plus.icon.watchlist-button
                  span.watchlist-button
                    | Ep 13
                .sixteen.wide.tablet.eleven.wide.computer.column.tight-left
                  .ui.progress.watchlist.small.error.ep13
                    .bar

              .row.watchlist
                .sixteen.wide.tablet.four.wide.computer.column.tight-right
                  i.play.large.icon.watchlist-button
                  i.plus.icon.watchlist-button
                  span.watchlist-button
                    | Ep 14
                .sixteen.wide.tablet.eleven.wide.computer.column.tight-left
                  .ui.progress.watchlist.small.error.ep14
                    .bar

              .row.watchlist
                .sixteen.wide.tablet.four.wide.computer.column.tight-right
                  i.play.large.icon.watchlist-button
                  i.plus.icon.watchlist-button
                  span.watchlist-button
                    | Ep 15
                .sixteen.wide.tablet.eleven.wide.computer.column.tight-left
                  .ui.progress.watchlist.small.error.ep15
                    .bar

              .row.watchlist
                .sixteen.wide.tablet.four.wide.computer.column.tight-right
                  i.play.large.icon.watchlist-button
                  i.plus.icon.watchlist-button
                  span.watchlist-button
                    | Ep 16
                .sixteen.wide.tablet.eleven.wide.computer.column.tight-left
                  .ui.progress.watchlist.small.error.ep16
                    .bar

              .row.watchlist
                .sixteen.wide.tablet.four.wide.computer.column.tight-right
                  i.play.large.icon.watchlist-button
                  i.plus.icon.watchlist-button
                  span.watchlist-button
                    | Ep 17
                .sixteen.wide.tablet.eleven.wide.computer.column.tight-left
                  .ui.progress.watchlist.small.error.ep17
                    .bar

              .row.watchlist
                .sixteen.wide.tablet.four.wide.computer.column.tight-right
                  i.play.large.icon.watchlist-button
                  i.plus.icon.watchlist-button
                  span.watchlist-button
                    | Ep 18
                .sixteen.wide.tablet.eleven.wide.computer.column.tight-left
                  .ui.progress.watchlist.small.error.ep18
                    .bar

              .row.watchlist
                .sixteen.wide.tablet.four.wide.computer.column.tight-right
                  i.play.large.icon.watchlist-button
                  i.plus.icon.watchlist-button
                  span.watchlist-button
                    | Ep 19
                .sixteen.wide.tablet.eleven.wide.computer.column.tight-left
                  .ui.progress.watchlist.small.error.ep19
                    .bar

          .details.sixteen.wide.tablet.seven.wide.computer.column.centered
            img.ui.huge.image.pad-right-small(src="/images/wireframe/16x9.png")
            h1 KHATEM SELIMAN
            h3 Season 1 - Episode 30
            h4.pad-right-medium Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .ui.one.column.grid.center
              .row
                .column.tight
                  .movie-details
                    span R
                    span 123 min
                    span Released 2015
                    span 5.1
                    span HD
                  .movie-actions
                    img.ui.image(src="/images/play-button.png")
                    img.ui.image(src="/images/add-button.png")
                    img.ui.image.social-share(src="/images/social-share-circle-icons.png")

          .details.sixteen.wide.tablet.three.wide.computer.column.centered
              .ui.three.column.grid.container.stackable
                .cast.sixteen.wide.computer.five.wide.tablet.column.tight
                  .ui.top.attached.label.detailHeading
                    | Producers
                  .ui.grid
                    .row
                      .pad-top-medium.column.tight
                        ul.meta.tight
                          li Alex
                          li Noma
                          li Alex
                          li Noma
                      .pad-top-medium.column.tight
                        ul.meta.values
                          li Shiradashi Smith
                          li Jane Doe
                          li John Smit
                          li Someone

                .cast.sixteen.wide.computer.five.wide.tablet.column.tight
                  .ui.top.attached.label.detailHeading
                    | Directors
                  .ui.grid
                    .row
                      .pad-top-medium.column.tight
                        ul.meta.tight
                          li Alex
                          li Noma
                          li Alex
                          li Noma
                          .column
                      .pad-top-medium.column.tight
                        ul.meta.values
                          li Shiradashi Smith
                          li Jane Doe
                          li John Smit
                          li Someone

                .cast.sixteen.wide.computer.five.wide.tablet.column.tight
                  .ui.top.attached.label.detailHeading
                    | Cast & Crew
                  .ui.grid
                    .row
                      .pad-top-medium.column.tight
                        ul.meta.tight
                          li Alex
                          li Noma
                          li Alex
                          li Noma
                      .pad-top-medium.column.tight
                        ul.meta.values
                          li Shiradashi Smith
                          li Jane Doe
                          li John Smit
                          li Someone

      .ui.one.column.grid.container
        .column.header
          hr.page-hr
          h4.ui.header.grid-title
            br
            | Related Titles >

      .ui.equal.width.grid.container.bottom-padding
        .row
          .image.preview
            .ui.bottom.attached.label
              | Khally Balak Men Geranak
          .image.preview
            .ui.bottom.attached.label
              | Harim Karim
          .image.preview
            .ui.bottom.attached.label
              | Zaki Chan
          .image.preview
            .ui.bottom.attached.label
              | Keda Reda
          .image.preview
            .ui.bottom.attached.label
              | Wahed Sefr
        .row
          .image.preview
            .ui.bottom.attached.label
              | Lorem ipsum dolor
          .image.preview
            .ui.bottom.attached.label
              | Lorem ipsum dolor

  .ui.inverted.vertical.footer.stackable.center.aligned
    .ui.middle.aligned.six.column.centered.stackable.grid.footer.container
      .row.footer-row
        .column.middle.aligned
          a.link
            h4
              | FAQ/Help
        .column.middle.aligned
          a.link
            h4
              | Jobs
        .column.middle.aligned
          a.link
            h4
              | Terms of Use
        .column.middle.aligned
          a.link
            h4
              | Privacy Policy
        .column.middle.aligned
          a.link
            h4
              | Copyright
        .column.middle.aligned
          a.link
            h4
              | Closed Captioning
    .ui.middle.aligned.one.column.centered.stackable.grid.container
      .ui.image.social-share
        img(src="/images/social-share.png")
    .ui.middle.aligned.one.column.centered.stackable.grid.container
          h6.tagline
            | © Melody Entertainment Group. All Rights Reserved. Lorem ipsum dolor sit amet, consectetur adipisicing elit
