.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.nav-header {
  min-height: 109px;
}

@media only screen and (max-width: 700px) {
  .nav-header {
    min-height: auto;
  }
}

.ui.input {
  color: rgba(76,76,76, 1) !important;
}

.right.menu {
  color: rgba(198,198,198,1);
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

body {
  background-color: rgba(24,24,24,1) !important;
}

body.pushable>.pusher {
    background: rgba(20,20,20, 1) !important;
}

.ui.large.top.fixed.hidden.menu.inverted {
  display: block;
  height: 107px;
  background: rgba(20,20,20, 1) !important;
}

.ui.large.top.fixed.hidden.menu.inverted .item:before {
  background: rgba(20,20,20, 1) !important;
}

.ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover {
  background: rgba(20,20,20, 1) !important;
}

.ui.container.nav a:hover {
  color: #cEA401 !important;
}

.ui.large.menu {
  font-size: 1.1rem !important;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: rgba(20,20,20, 1) !important;
    color: rgba(255,255,255,.9);
}

.row.subnav {
  display: block;
  height: 75px;
  background-color: rgba(66,66,66,1);
  padding-bottom: 0rem !important;
}

.row.subnav span.title {
  color: rgba(255,255,255,1);
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 3.7em;
  padding-left: 2rem;
  letter-spacing: .05em;
}


@media (max-width: 700px) {
  #seasons-dropdown {
    display: none;
  }
}

#watchlist-sidebar .item:first-child {
  display: none;
}

#watchlist-sidebar .item span {
  margin-left: 0.2rem;
}

#seasons-dropdown .menu {
  width: 220px;
  font-size: .9em;
  letter-spacing: .1em;
  line-height: 1rem;
  text-indent: .6rem;
  border-radius: 0rem !important;
  background: #2d2d2d;
}

#seasons-dropdown .menu .item {
  color: #f2f2f2 !important;
}

#seasons-dropdown .menu>.item {
  font-weight: 200 !important;
  font-size: 1.1em !important;
  line-height: 1.5rem;
}

#seasons-dropdown .menu>.item:hover {
  color: #0e0e0e !important;
  background: #ffffff;
}


#seasons-dropdown .plus.icon {
  float: right !important;
  font-size: .75rem;
  font-weight: 200;
  margin-right: 1.3rem;
  color: #cecece;
}

#seasons-dropdown-filter {
  width: 100%;
  padding: .92857143em 1.14285714em;
  color: #cecece;
  font-size: .9em;
  letter-spacing: .1em;
  font-weight: 200;
}

#seasons-dropdown-filter .menu {
  width: 100%;
  font-size: .9em;
  letter-spacing: .1em;
  line-height: 0.5rem;
  border-radius: 0rem !important;
  background: #2d2d2d;
}

#seasons-dropdown-filter .item {
  line-height: 2rem;
}

#seasons-dropdown-filter .menu .item {
  color: #f2f2f2 !important;
}

#seasons-dropdown-filter .menu>.item {
  font-weight: 200 !important;
  font-size: 1.1em !important;
  line-height: 1.5rem;
}

#seasons-dropdown-filter .menu>.item:hover {
  color: #0e0e0e !important;
  background: #ffffff !important;
}


#seasons-dropdown-filter .plus.icon {
  float: right !important;
  font-size: .75rem;
  font-weight: 200;
  margin-right: 0.7rem;
  color: #cecece;
}

.row.subnav .ui.simple.dropdown {
  position: relative;
  float: right;
  width: 220px;
  height: 42px;
  margin-top: 0.8rem;
  margin-right: 2rem;
  padding: .85rem 0 0 1.8rem;
  color: #cecece;
  font-size: .9em;
  letter-spacing: .1em;
  font-weight: 200;
  background: #100e0f;
}

@media only screen (max-width: 530px) {
  .row.subnav .ui.simple.dropdown.item.inverted {
    display: none;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.container.hero {
      width: 723px;
      margin-left: auto!important;
      margin-right: auto!important;
    }
}

.ui.container.nav {
  width: calc(1570px + 2rem)!important;
  padding-top: 1rem;
}

.ui.container.hero {
  width: calc(1570px + 2rem)!important;
}




.grids {
  background-color: rgba(24,24,24,1) !important;
  width: 1600px !important;
}

.grids .row:not(.subnav):not(.watchlist) {
  padding-left: 1rem !important;
  height: 200px;
  overflow: hidden;
}

.grids .ui[class*="bottom attached"].label {
  bottom: -30px;
  background: transparent;
  color: rgba(206,206,206, 1);
  font-weight: 300;
  padding-left: 0px;
}

.grids .ui[class*="top attached"].label {
  bottom: -30px;
  background: transparent;
  color: rgba(206,206,206, 1);
  font-weight: 300;
  padding-left: 0px;
}

@media only screen and (max-width: 800px) {
  .grids .ui[class*="top attached"].label {
    padding-left: 1rem;
  }
}

.ui.top.attached.label:first-child+:not(.attached) {
    margin-top: 0rem!important;
}


.grids .grid-heading {
  position: relative;
  float: left;
  top: 20px;
  padding: 0 0 15px 0;
  color: rgba(252,252,252, 1);
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
}

.detailHeading {
  color: rgba(252,252,252, 1);
  font-size: 1.1em !important;
  font-weight: bold;
  text-transform: uppercase;
}

.details {
  margin-top: 2.5rem;
}

.grids .details h1 {
  font-size: 2.5em;
  font-weight: 300;
  color: rgba(198,198,198,1);
}

.grids .details h2, h4 {
  color: rgba(198,198,198,1);
}

.details h3 {
  font-size: 1.1em;
  line-height: 2em;
  text-transform: uppercase;
  color: rgba(198,198,198,1);
}


.details h4 {
  font-size: 1em;
  line-height: 2em;
}

.movie-details {
  display: block;
  width: 100%;
  height: 20px;
  margin: 0 0 20px 0;
}

.movie-details span {
  position: relative;
  float: left;
  margin-right: 5px;
  color: rgba(100,100,100,1);
}

.movie-details span::after {
  position: relative;
  margin-left: 5px;
  content: "|"
}

.movie-details span:last-child:after {
  content: "";
}

.movie-actions img {
  position: relative;
  float: left;
  margin: 0 20px 30px 0;
}

.movie-actions .social-share {
  clear: both;
  margin: 0px;
}


.watchlist-button {
  position: relative;
  float: left !important;
  padding-top: .2rem;
  padding-right: 1rem;
  font-size: 1.1rem;
  color: rgba(198,198,198, 1);
}

.watchlist-pct {
  float: right;
  color: #DB2828;
  font-weight: 300;
  font-size: 1.02em;
  opacity: .7;
}

.play.large.icon.watchlist-button {
  top: -1px;
}

.plus.icon.watchlist-button {
  margin-top: .1em;
}

.icon.watchlist-button {
  opacity: .2;
  cursor: pointer;
}

.icon.watchlist-button:hover {
  opacity: 1;
}

.watchlist .ui.progress {
  border: 2px solid rgba(48,48,48,.3);
  background: rgba(59,59,59,.1);
  border-radius: 0rem;
  margin: 0rem;
  padding: 1px;
}

.watchlist .column {
  /*padding-left: 0rem !important;*/
}

.ui.progress.watchlist {
  position: relative;
  margin-top: .4rem;
  float: left;
  width: 100%;
}

@media only screen and (max-width: 1250px) {
  .watchlist-button {
    padding-right: 0.4rem;
    font-size: 0.8rem;
  }
  .play.large.icon.watchlist-button {
    font-size: 1.1em;
    margin-top: 0.2rem;
  }
  .ui.progress.watchlist {
    margin-top: 0.2rem !important;
    margin-bottom: 0rem  !important;
  }
  .ui.small.progress.watchlist .bar {
    height: 0.8rem !important;
  }
}



.ui.progress.watchlist.tiny.error {
  margin-top: 0.4rem;
  margin-bottom: 0.3rem;
}

.ui.sidebar.menu .item {
  padding-bottom: 12px;
}

.ui.progress.watchlist .bar {
  border-radius: 0rem;
}

.ui.small.progress.watchlist .bar {
  border-radius: 0rem;
  height: 1.2rem;
}


umn.centered {
  padding: 2rem 0rem 2rem 2rem !important;
}



ul.meta {
  position: relative;
  float: left;
  list-style: none;
  line-height: 1.6em;
  font-weight: 300;
  color: rgba(221,221,221, 1);
}

ul.meta.values {
  color: rgba(168,168,168, 1);
  width: 12rem !important;
}

@media only screen and (max-width: 767px) {
  .ui.vertical.center.container.aligned.grids {
    width: auto   !important;
    margin-left:  0em!important;
    margin-right: 0em!important;
  }
}

.grids .row:last-child:not(.subnav) {
  padding-bottom: 2rem !important;
}

.container.bottom-padding {
  padding-bottom: 5rem !important;
}

.pad-right-small {
  padding-right: 2rem;
}

.pad-right-medium {
  padding-right: 2rem;
}

.tight {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.tight-left {
  padding-left: 0 !important;
}

.tight-right {
  padding-right: 0 !important;
}


.no-margin {
  margin: 0 !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

.raised {
  position: relative;
  top: -3rem;
}

.double-raised {
  position: relative;
  top: -6rem;
}


.grids .grid-title {
    position: relative;
    top: 20px;
    color: rgba(107,107,107, 1) !important;
    font-size: 1em !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.grids .image.preview {
  position: absolute;
  float: left;
  top: 1rem;
  width: 280px;
  height: auto;
  min-height: 160px;
  margin-left: 1rem;
  background-image: url('/images/wireframe/16x9.png');
  background-repeat: no-repeat;
}

.grids .image.preview:nth-child(1) {
  left: 0px;
}

.grids .image.preview:nth-child(2) {
  left: 310px;
}

.grids .image.preview:nth-child(3) {
  left: 620px;
}

.grids .image.preview:nth-child(4) {
  left: 930px;
}

.grids .image.preview:nth-child(5) {
  left: 1240px;
}

/*.grids .image.preview:nth-child(6) {
  left: 1535px;
}

.grids .image.preview:nth-child(7) {
  left: 1840px;
}

.grids .image.preview:nth-child(8) {
  left: 2145px;
}

.grids .image.preview:nth-child(9) {
  left: 2450px;
}*/

.grids .ui.fluid.image {
}

.grids .ui.grid.container {
    width: calc(1532px + 2rem)!important; // 1522
}

@media only screen and (max-width: 480px) {
  .ui.container.hero {
    padding-right: 0rem;
  }
  .grids .column {
    padding-right: 2.5rem !important;
  }
  .grids .column.mobile.tablet.computer.only {
    display: none;
  }
}

.ui.container.nav .item {
  color: rgba(76,76,76,1) !important;
}

.ui.container.nav .item h6 a {
  color: rgba(198,198,198,1) !important;
}

.ui.container.nav .item h6 a:hover {
  color: #cEA401 !important;
}

.ui.container.nav .item h6 .count {
  padding-left: 2px;
  color: #cEA401;
}


.ui.container.nav a, a:visited {
    cursor: pointer;
    font-size: 1.1em !important;
}

.ui.menu .item h6 {
  margin: 0px;
}

.ui.input input {
  color: rgba(76,76,76,1) !important;
}

.masthead.segment {
  min-height: 400px !important;
}

.last {
  padding-bottom: 7.5rem !important;
}

.footer .column {
  position: relative;
  width: 16% !important;
  text-align: center;
}

.footer h4 {
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
  line-height: 3.5rem;
}

.social-share img {
  position: relative;
  top: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.tagline {
  position: relative;
  text-align: center;
  font-size: .9em;
  color: rgba(102,102,102,1);
}
