.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.nav-header {
  min-height: 109px;
}

@media only screen and (max-width: 700px) {
  .nav-header {
    min-height: auto;
  }
}

.right.menu {
  color: rgba(198,198,198,1);
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

body.pushable>.pusher {
    background: rgba(0,0,0, 1) !important;
}

.ui.large.top.fixed.hidden.menu.inverted {
  display: block;
  height: 107px;
  background: rgba(0,0,0,1) !important;
}

.ui.large.top.fixed.hidden.menu.inverted .item:before {
  background: rgba(0,0,0,1) !important;
}

.ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover {
  background: rgba(0,0,0,1) !important;
}

.ui.container.nav a:hover {
  color: #cEA401 !important;
}

.ui.large.menu {
  font-size: 1.1rem !important;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: rgba(0,0,0, 1) !important;
    color: rgba(255,255,255,.9);
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.container.hero {
      width: 723px;
      margin-left: auto!important;
      margin-right: auto!important;
    }
}

.ui.container.nav {
  width: calc(1570px + 2rem)!important;
  padding-top: 1rem;
}

.ui.container.hero {
  width: calc(1570px + 2rem)!important;
}




.grids {
  background-color: rgba(24,24,24,1) !important;
  width: 1600px !important;
}

.grids .row {
  padding-left: 1rem !important;
  height: 180px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .ui.vertical.center.container.aligned.grids {
    width: auto   !important;
    margin-left:  0em!important;
    margin-right: 0em!important;
  }
}

.grids .row:last-child {
  padding-bottom: 5rem !important;
}

.grids .grid-title {
    position: relative;
    top: 20px;
    color: rgba(107,107,107, 1) !important;
    font-size: 1em !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.grids .image.preview {
  position: absolute;
  float: left;
  top: 1rem;
  width: 280px;
  height: auto;
  min-height: 160px;
  margin-left: 1rem;
  background-image: url('/images/wireframe/16x9.png');
  background-repeat: no-repeat;
}

.grids .image.preview:nth-child(1) {
  left: 0px;
}

.grids .image.preview:nth-child(2) {
  left: 300px;
}

.grids .image.preview:nth-child(3) {
  left: 600px;
}

.grids .image.preview:nth-child(4) {
  left: 900px;
}

.grids .image.preview:nth-child(5) {
  left: 1200px;
}

.grids .image.preview:nth-child(6) {
  left: 1500px;
}

.grids .image.preview:nth-child(7) {
  left: 1800px;
}

.grids .image.preview:nth-child(8) {
  left: 2100px;
}

.grids .image.preview:nth-child(9) {
  left: 2400px;
}

.grids .ui.fluid.image {
}

.grids .ui.grid.container {
    width: calc(1512px + 2rem)!important;
}

@media only screen and (max-width: 480px) {
  .ui.container.hero {
    padding-right: 0rem;
  }
  .grids .column {
    padding-right: 2.5rem !important;
  }
  .grids .column.mobile.tablet.computer.only {
    display: none;
  }
}

.ui.container.nav .item {
  color: rgba(76,76,76,1) !important;
}

.ui.container.nav .item h6 a {
  color: rgba(198,198,198,1) !important;
}

.ui.container.nav .item h6 a:hover {
  color: #cEA401 !important;
}

.ui.container.nav .item h6 .count {
  padding-left: 2px;
  color: #cEA401;
}


.ui.container.nav a, a:visited {
    cursor: pointer;
    font-size: 1.1em !important;
}

.ui.menu .item h6 {
  margin: 0px;
}

.ui.input input {
  color: rgba(76,76,76,1) !important;
}

.masthead.segment {
  min-height: 400px !important;
}

.last {
  padding-bottom: 7.5rem !important;
}

.footer .column {
  position: relative;
  width: 16% !important;
  text-align: center;
}

.footer h4 {
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
  line-height: 3.5rem;
}

.social-share img {
  position: relative;
  top: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.tagline {
  position: relative;
  text-align: center;
  font-size: .9em;
  color: rgba(102,102,102,1);
}
